
.search-bar {
    margin-bottom: 20px;
    width: 750px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    padding: 10px;
    width: 60%;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

/* Form Input */
.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-title {
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.details {
    padding: 10px;
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

/* Tag Input */
.tags {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.add-tag {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.tag-button {
    background-color: #4f5148;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tag-button:hover {
    background-color: #626458;
}

/* Tag Key Styling */
.key {
    background-color: gray;
    color: #f2f2f2;
    border: none;
    border-radius: 4px;
    font-weight: 900;
    padding: 1.5px;
    display: flexbox;
    justify-content: center;
    margin-bottom: 15px;
}

/* Palette Color */
.palette {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.color-circle {
    margin-right: 10px;
}

/* Edit and Done Buttons */
.edit-buttons {
    margin-top: 20px;
    padding: 25px;

    display: flex;
    justify-content: center;
}

.done,
.back {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.done {
    background-color: #273343;
    color: white;
}

.done:hover {
    background-color: #303f54;
}

.back {
    background-color: #beb7b7cc;
    color: white;
}

.back:hover {
    background-color: #dcd0d0cc;
}

/* Card Styling */
.card {
    width: 80%;
    margin: 20px auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.divide {
    border: none;
    height: 1.5px;
    background-color: black;
    margin: 10px 0;
}

.card p {
    margin: 0;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.div2 {
    display: flex;
}

.time {
    margin-right: 20px;
    font-weight: 700;
    margin-top: 10px;
}

/* delete &&&  edit Buttons  */
.delete,
.edit {
    background-color: #273343;
    color: white;
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* button edit & delete */
.But-ED {
    display: flex;
    padding: 10px;
}

/* Span Tags for Bold Text */
span {
    font-weight: bold;
    margin-right: 10px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.open-modal-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    
    cursor: pointer;
    border-radius: 5px;
}
button{
    margin: 10px;
}

.close {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.done {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}