#hell {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 88vh;
    scrollbar-width: none;
    overflow: hidden;
    padding: 20px;
}


.timer-list-container {
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
   
    background-color: #dddd;
}


.timer-card {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 30px;
    flex-basis: 600px;
    flex-grow: 1;
}


.timer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    color: #333;
}

.timer-label {
    font-size: 20px;
    font-weight: 600;
    background-color: #e5e5e5;
    padding: 4px 20px;
    border-radius: 120px;
}

.timer-total {
    font-size: 20px;
    font-weight: 500;
    color: #777;
    padding: 4px 20px;
    background-color: #e5e5e5;
    border-radius: 120px;
}


.timer-progress-container {
    position: relative;
    height: 110px;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
}


.timer-progress-marker {
    position: absolute;
    border-radius: 150px;
    height: 75%;

    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    background-color: #ffffff;
    z-index: 2;
}


.timer-progress-bar {
    background: linear-gradient(to right, #000, #939393);
    height: 100%;
    transition: width 0.3s ease;
    border-radius: 20px;
    z-index: 1;
}




.timer-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.timer-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 150px;
    padding: 4px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.timer-button:hover {
    background-color: black;
}


.input-container {
    margin: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-label,
.input-time {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 150px;
    font-size: 14px;
    width: 150px;
    text-align: center;
}


.add-timer-button {
    background-color: #000;
    color: white;
    border-radius: 150px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-timer-button:hover {
    background-color: #333;
}